.CarouselItem{
	display: flex;
	justify-content:center;
}

.CarouselCaption{
	background-color:black;
	opacity:0.7;
	border-radius:10px;
}

@media (min-width: 300px)  {
    .CarouselCaption{
        width: 100%;
    }
}

@media (min-width: 500px)  {
    .CarouselCaption{
        width: 75%;
    }
}

@media (min-width: 1000px){
    .CarouselCaption{
        width: 50%;
    }
}